<div class="auth">

    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s6 ">
                    <a class="active" href="#login">Login</a>
                </li>
                <li class="tab col s6 ">
                    <a href="#register">Sign Up</a>
                </li>
            </ul>
        </div>
        <div id="login" class="col s6 offset-s3">

            {{#if loginError}}
                <p class="alert">{{loginError}}</p>
            {{/if}}

            <h3> Login </h3>

            <form action="/auth/login" method="POST">
                <div class="row">
                    <div class="input-field col s12 ">
                        <input id="email" name="email" type="email" class="validate" required>
                        <label class="active" for="email">Email</label>
                        <span class="helper-text" data-error="wrong" data-success="right">Write Email</span>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12 ">
                        <input id="password" name="password" type="password" class="validate" required>
                        <label class="active" for="password">Password</label>
                        <span class="helper-text" data-error="wrong" data-success="right">Write Password</span>
                    </div>
                </div>

                <p>
                    <a href="/auth/reset">Forgot Password ?</a>
                </p>

                <label class="remember-checkbox">
                    <input type="checkbox"/>
                    <span>Remember Me</span>
                </label>

                <input type="hidden" name="_csrf" value="{{csrf}}">

                <button type="submit" class="btn btn-primary">Login</button>
            </form>

        </div>

        <div id="register" class="col s6 offset-s3">

            {{#if registerError}}
                <p class="alert">{{registerError}}</p>
            {{/if}}

            <h3> Sign Up </h3>

            <form action="/auth/register" method="POST" novalidate>
                <div class="row">
                    <div class="input-field col s6 col s12 ">
                        <input id="remail" name="email" type="email" class="validate" required>
                        <label class="active" for="remail">Email</label>
                        <span class="helper-text" data-error="wrong" data-success="right">Write Email</span>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6 col s12 ">
                        <input id="rpassword" name="password" type="password" class="validate" required>
                        <label class="active" for="rpassword">Password</label>
                        <span class="helper-text" data-error="wrong" data-success="right">Write Password</span>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6 col s12 ">
                        <input id="confirm" name="confirm" type="password" class="validate" required>
                        <label class="active" for="confirm">Repeat Password</label>
                        <span class="helper-text" data-error="wrong" data-success="right">Repeat  Password</span>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6 col s12 ">
                        <input id="name" name="name" type="text" class="validate" required>
                        <label class="active" for="name">Name</label>
                        <span class="helper-text" data-error="wrong" data-success="right">Write Name</span>
                    </div>
                </div>

                <input type="hidden" name="_csrf" value="{{csrf}}">

                <button type="submit" class="btn btn-primary">Register</button>
            </form>

        </div>
    </div>

</div>
