<div class="row">

    <div id="login" class="col s6 offset-s3">

        {{#if error}}
            <p class="alert">{{error}}</p>
        {{/if}}

        <h3> Set a new password </h3>

        <form action="/auth/password" method="POST">
            <div class="row">
                <div class="input-field col s12 ">
                    <input id="password" name="password" type="password" class="validate" required>
                    <label class="active" for="password">New Password</label>
                    <span class="helper-text" data-error="wrong" data-success="right">Write Password</span>
                </div>
            </div>

            <input type="hidden" name="_csrf" value="{{csrf}}">
            <input type="hidden" name="userId" value="{{userId}}">
            <input type="hidden" name="token" value="{{token}}">

            <button type="submit" class="btn btn-primary">Update Password</button>
        </form>

    </div>

</div>

