<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">

      {{#if isHome }}
      <li class="active"><a href="/home">Courses</a></li>
      {{else}}
      <li><a href="/home">Courses</a></li>
      {{/if }}

      {{#if isAbout }}
      <li class="active"><a href="/about">Add Courses </a></li>
      {{else}}
      <li><a href="/about">Add Courses</a></li>
      {{/if }}

      {{#if isContact }}
      <li class="active"><a href="/contact">Contact</a></li>
      {{else}}
      <li><a href="/contact">Contact</a></li>
      {{/if }}

    </ul>
  </div>
</nav>