<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">

      {{#if isHome }}
      <li><a href="/home" class="active">Home</a></li>
      {{else}}
      <li><a href="/home">Home</a></li>
      {{/if }}

      {{#if isAbout }}
      <li><a href="/about" class="active">About</a></li>
      {{else}}
      <li><a href="/about">About</a></li>
      {{/if }}

      {{#if isContact }}
      <li><a href="/contact" class="active">Contact</a></li>
      {{else}}
      <li><a href="/contact">Contact</a></li>
      {{/if }}

    </ul>
  </div>
</nav>