<h1>Course</h1>

<form action="/add" method="POST">

    <div class="row">
        <div class="input-field col s12">
            <input id="first_name2"  name="name" type="text" class="validate" required>
            <label class="active" for="first_name2">Name Course</label>
            <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
        </div>

    </div>
    <div class="row">
        <div class="input-field col s12">
            <input id="first_name2" name="price"   type="text" class="validate" required>
            <label class="active" for="first_name2">Price Course</label>
            <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
            <input id="first_name2" name="url"  type="text" class="validate" required>
            <label class="active" for="first_name2">URL iamge</label>
            <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
        </div>
    </div>

    <button class="btn btn-primary">Add Courses </button>
</form>