.nav-wrapper {
    padding: 0 2rem;
}

.price {
    font-size: 2rem;
    font-weight: 600;
}

.course {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth {
    padding-top: 1rem;
}


.course h1 {
    margin-bottom: 2rem;
}

.card-action.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course img {
    max-width: 600px;
    height: auto;
}

.course .price.big {
    font-size: 2.5rem;
}

.home-text {
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 5px;
}

.course-form {
    margin-top: 20px;
}

.remember-checkbox {
    margin-right: 15px;
}

.alert {
    padding: .5rem 1rem;
    border-radius: 12px;
    text-align: center;
    margin-bottom: 1rem;
    background: rgba(255, 0, 0, .3);
    color: red;
    text-transform: uppercase;
}
